@font-face {
  font-family: "7segm"; /* Nombre que usarás en font-family */
  src: url("./media/7segm.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

#main-container {
  height: 100vh;
  width: 100vh;
  border: 2px solid red;
  display: flex;
}

#calculator {
  background-image: linear-gradient(
    135deg,
    rgba(204, 200, 190, 1) 0%,
    rgba(138, 132, 121, 1) 100%
  );
  max-width: 400px;
  max-height: 600px;
  width: 200px;
  height: 600px;
  border: 10px outset;
  border-color: #e0d8de #6a6262 #6a6262 #e0d8de;
  border-radius: 5px;
  flex: 1 1 0;
  margin: auto;
}

#buttons {
  margin-top: 25px;
}

.row {
  display: flex;
  flex-direction: row;
  margin: 5%;
  gap: 2%;
}

button {
  font-size: 48px;
  font-weight: bold;
  color: white;
  background-image: linear-gradient(135deg, #555366, #434960);
  border: 3px outset;
  border-color: #5e5768 #3a445d #3a445d #5e5768;
  padding: 5px;
  flex: 1 0 0;
  box-sizing: border-box;
}

.operator {
  border-color: #ff9c19;
  background-image: linear-gradient(
    135deg,
    rgba(235, 134, 2, 1) 50%,
    rgba(196, 115, 2, 1) 100%
  );
}

#equal {
  border-color: #2ea33b;
  background-image: linear-gradient(
    135deg,
    rgba(42, 155, 55, 1) 0%,
    rgba(38, 105, 40, 1) 100%
  );
}

#zero,
#backspace {
  background-image: linear-gradient(
    135deg,
    rgba(253, 29, 29, 1) 0%,
    rgba(184, 0, 0, 1) 100%
  );
  border-color: #fd1d1d #590404 #590404 #fd1d1d;
}

#space {
  flex: 1 0 0;
  padding: 5px;
  margin: 0 3% 0 3%;
}

#screen {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  box-sizing: border-box;
  height: 15%;
  margin: 5%;
  border: 3px inset;
  background-color: #cfd2b2;
  border-color: #6a6262 #e0d8de #e0d8de #6a6262;
  overflow: hidden;
  text-overflow: clip;
}

#display {
  font-size: 72px;
  line-height: 0.8;
  font-family: "7segm", sans-serif;
  color: black;
}
